media_mixin.sass @media all and (max-width: 1809px) {
  .header__body {
    width: 100%;
  }
  .content__body {
    width: 87%;
  }
}
@media all and (max-width: 1713px) {
  .header__row {
    width: 80%;
  }
  .content__body {
    width: 92%;
  }
  .content__left {
    min-height: 3250px;
  }
  .content__top {
    min-height: 75px;
  }
  .content__right {
    min-height: 3200px;
  }
}
@media all and (max-width: 1606px) {
  .header__imagestock {
    width: 11%;
  }
  .item-favourites {
    width: 38%;
  }
  .item-history {
    width: 50%;
  }
  .header__row {
    width: 85%;
  }
  .content__body {
    width: 98%;
  }
}
@media all and (max-width: 1512px) {
  .header {
    min-height: 166px;
  }
  .header__menu {
    min-height: 33px;
  }
  .header__search {
    min-height: 88px;
  }
  .header__row {
    width: 100%;
    min-height: 42px;
  }
  .header__imagestock {
    width: 12%;
  }
  .item-favourites {
    width: 42%;
  }
  .item-history {
    width: 54%;
  }
  .header__row {
    width: 90%;
  }
  .content__body {
    width: 100%;
  }
  .pisture__oneone {
    width: 435px;
  }
}
@media all and (max-width: 1428px) {
  .header__row {
    width: 95%;
  }
}
@media all and (max-width: 1353px) {
  .picture__oneone {
    width: 405px;
  }
  .header__fandh {
    width: 22%;
  }
  .content__left {
    min-height: 3220px;
  }
  .content__right {
    min-height: 3155px;
  }
}
/* @media all and(max-width: 1239px) {
  .header__imagestock {
    width: 15%;
  }
  .header__fandh {
    width: 25%;
  }
  .header__row a {
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
  }
} */
