@import "_mixin.sass"

body 
    margin: 0 auto

a
    text-decoration: none
    color: $white    

.header 
    @include flex-center (100%, auto, 400px)
    background-color: $black    
    &__body 
        @include flex-column(95%, auto, auto)
    &__menu
        @include space-around(100%, auto, 120px)        
    &__imagestock
        @include flex-center(10%, auto, auto)
    &__fandh
        @include space-around(20%, auto, auto)
    &__search
        @include flex-center(83%, auto, 120px)
    &__line
        @include flex-center(66%, 1px, auto)
        border: 0.5px solid rgba(255, 255, 255, 1)       
    &__row
        @include space-around(75%, auto, 75px)
    &__row a
        @include text(18px, 21px, none, normal, normal)

.item-menu
    @include space-around(100%, auto, auto)
    &__title
        @include text(24px, 29px, none, normal, normal)

.item-favourites
    @include space-around(35%, auto, auto)
    &__title
        @include text(18px, 21px, none, normal, normal)

.item-history
    @include space-around(45%, auto, auto)
    &__title
        @include text(18px, 21px, none, normal, normal)

.item-search
    @include flex-center(80%, auto, auto)
    @include text(72px, 86px, none, normal, normal)
    border: none
    background: none
    color: $white
    outline: none
    text-align: center

.content
    @include flex-center(100%, auto, 500px)    
    &__body
        @include flex-center(85%, auto, auto)
    &__left
        @include flex-column(96%, auto, 3320px)
    &__top
        @include space-around(5%, auto, 140px)
    &__middle
        @include flex-center(100%, auto, auto)
    &__bottom
        @include flex-center(5%, auto, auto)
    &__right
        @include flex-end(4%, auto, 3265px)

.author  
    position: absolute   
    opacity: 0
    transition: 0.5s
    z-index: -10
    @include flex-center(225px, 225px, auto) 
    margin: 220px 0px 0px 245px
    &__body
        @include flex-column(100%, auto, 200px)        
    &__photo
        @include flex-center(75px, auto, 75px) 
        filter: none       
    &__text
        @include text(30px, 36px, none, normal, normal)
        @include flex-center(100%, auto, 40px)
        
    &__option
        @include space-around(70%, auto, 40px)

.picture    
    &__left
        @include flex-column(33%, auto, auto)        
    &__one
        @include flex-center(96%, auto, auto)
        overflow: hidden
        position: relative 
    &__one:hover >img
        filter: blur(4px)
        transition: 0.5s 
    &__one:hover >.author
        opacity: 1
        transition: 0.5s
        z-index: 10
        transform: translate(-50%, -50%)
    &__oneone
        @include flex-center(490px, 260px, auto)
    &__left img:nth-child(3)
        @include flex-center(95%, 260px, auto)
    &__left img:nth-child(5)
        @include flex-center(95%, 260px, auto)
    &__left img:nth-child(2)
        @include flex-center(95%, 715px, auto)
    &__left img:nth-child(4)
        @include flex-center(95%, 476px, auto)
    &__left img:nth-child(6)
        @include flex-center(95%, 476px, auto)
    &__left img:nth-child(7)
        @include flex-center(95%, 709px, auto)
    &__middle
        @include flex-column(33%, auto, auto)
    &__middle img:nth-child(1)
        @include flex-center(95%, 715px, auto)
    &__middle img:nth-child(3)
        @include flex-center(95%, 715px, auto)   
    &__middle img:nth-child(even)
        @include flex-center(95%, 260px, auto)    
    &__middle img:nth-child(5)
        @include flex-center(95%, 476px, auto)   
    &__middle img:nth-child(7)
        @include flex-center(95%, 474px, auto) 
    &__right 
        @include flex-column(33%, auto, auto)
    &__right img:nth-child(1)
        @include flex-center(95%, 476px, auto)
    &__right img:nth-child(2)
        @include flex-center(95%, 715px, auto)    
    &__right img:nth-child(3)
        @include flex-center(95%, 260px, auto) 
    &__right img:nth-child(4)
        @include flex-center(95%, 475px, auto) 
    &__right img:nth-child(5)
        @include flex-center(95%, 260px, auto)     
    &__right img:nth-child(6)
        @include flex-center(95%, 715px, auto) 
    &__right img:nth-child(7)
        @include flex-center(95%, 260px, auto)    
      