body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  background-color: black;
}
.header__body {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 95%;
  height: auto;
  min-height: auto;
  display: flex;
}
.header__menu {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  min-height: 120px;
  display: flex;
}
.header__imagestock {
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
  min-height: auto;
  display: flex;
}
.header__fandh {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 20%;
  height: auto;
  min-height: auto;
  display: flex;
}
.header__search {
  justify-content: center;
  align-items: center;
  width: 83%;
  height: auto;
  min-height: 120px;
  display: flex;
}
.header__line {
  justify-content: center;
  align-items: center;
  width: 66%;
  height: 1px;
  min-height: auto;
  display: flex;
  border: 0.5px solid white;
}
.header__row {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75%;
  height: auto;
  min-height: 75px;
  display: flex;
}
.header__row a {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

.item-menu {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  min-height: auto;
  display: flex;
}
.item-menu__title {
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

.item-favourites {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 35%;
  height: auto;
  min-height: auto;
  display: flex;
}
.item-favourites__title {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

.item-history {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 45%;
  height: auto;
  min-height: auto;
  display: flex;
}
.item-history__title {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

.item-search {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  min-height: auto;
  display: flex;
  font-size: 72px;
  line-height: 86px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  border: none;
  background: none;
  color: white;
  outline: none;
  text-align: center;
}

.content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
}
.content__body {
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;
  min-height: auto;
  display: flex;
}
.content__left {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 96%;
  height: auto;
  min-height: 3320px;
  display: flex;
}
.content__top {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 5%;
  height: auto;
  min-height: 140px;
  display: flex;
}
.content__middle {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: auto;
  display: flex;
}
.content__bottom {
  justify-content: center;
  align-items: center;
  width: 5%;
  height: auto;
  min-height: auto;
  display: flex;
}
.content__right {
  justify-content: center;
  align-items: flex-end;
  width: 4%;
  height: auto;
  min-height: 3265px;
  display: flex;
}

.author {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index: -10;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  min-height: auto;
  display: flex;
  margin: 220px 0px 0px 245px;
}
.author__body {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  min-height: 200px;
  display: flex;
}
.author__photo {
  justify-content: center;
  align-items: center;
  width: 75px;
  height: auto;
  min-height: 75px;
  display: flex;
  filter: none;
}
.author__text {
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 40px;
  display: flex;
}
.author__option {
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
  height: auto;
  min-height: 40px;
  display: flex;
}

.picture__left {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 33%;
  height: auto;
  min-height: auto;
  display: flex;
}
.picture__one {
  justify-content: center;
  align-items: center;
  width: 96%;
  height: auto;
  min-height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
.picture__one:hover > img {
  filter: blur(4px);
  transition: 0.5s;
}
.picture__one:hover > .author {
  opacity: 1;
  transition: 0.5s;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.picture__oneone {
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(3) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(5) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(2) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 715px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(4) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 476px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(6) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 476px;
  min-height: auto;
  display: flex;
}
.picture__left img:nth-child(7) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 709px;
  min-height: auto;
  display: flex;
}
.picture__middle {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 33%;
  height: auto;
  min-height: auto;
  display: flex;
}
.picture__middle img:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 715px;
  min-height: auto;
  display: flex;
}
.picture__middle img:nth-child(3) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 715px;
  min-height: auto;
  display: flex;
}
.picture__middle img:nth-child(even) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__middle img:nth-child(5) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 476px;
  min-height: auto;
  display: flex;
}
.picture__middle img:nth-child(7) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 474px;
  min-height: auto;
  display: flex;
}
.picture__right {
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 33%;
  height: auto;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(1) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 476px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(2) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 715px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(3) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(4) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 475px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(5) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(6) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 715px;
  min-height: auto;
  display: flex;
}
.picture__right img:nth-child(7) {
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 260px;
  min-height: auto;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
